/*
Theme Name: Custom RebootSQ
Theme URI: 
Description: Custom theme
Author: Steve Lacerda, Erin L. O'Connor
Author URI:
Version: 1.0.0
*/

/* ======================================= */
/* ============= IMPORT FONTS ============ */
/* ======================================= */
/*@import './css/glyphicon.css';*/
@font-face {
  font-family: 'GraphikWeb';
  src: url('./fonts/Graphik-Light-Web.eot');
  src: url('./fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Graphik-Light-Web.woff') format('woff');
}
@font-face {
  font-family: 'GothamMedium';
  src: url('./fonts/GOTHAM-MEDIUM.TTF');
}
@font-face {
  font-family: 'GothamBlack';
  src: url('./fonts/GOTHAM-BLACK.TTF');
}
@font-face {
  font-family: 'GothamBold';
  src: url('./fonts/GOTHAM-BOLD.TTF'), url('./fonts/GOTHAM-BOLD_O.OTF');
}
@font-face {
  font-family: 'GothamLight';
  src: url('./fonts/GOTHAM-LIGHT.TTF'), url('./fonts/GOTHAM-LIGHT_O.OTF');
}

/* ======================================= */
/* ============ GLOBAL STYLING =========== */
/* ======================================= */
body {
  color: #292727;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: GothamLight, Avenir;
  font-weight: 600;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border: none;
  max-width: 110em;
  min-width: 23em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-rendering: geometricPrecision; 
  -webkit-font-smoothing: subpixel-antialiased; 
  /*box-shadow: 0 9px 0px 0px #f9f9f9, 0 -9px 0px 0px #f9f9f9, 4px 0 8px -4px #dadada, -4px 0 8px -4px #dadada;*/
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
li {
  list-style-type: none;
}
.lastmile-yellow {
  background: rgb(196,156,45);
}
.bg-black {
  background: #000000;
}
.bg-lastmile-gray {
  background: rgb(29,27,27);
}
.bg-lastmile-yellow {
  background: rgb(204, 154, 48);
}
.bg-lastmile-yellow-light {
  background: rgba(204, 154, 48, .7);
}
.bg-white {
  background: #FFFFFF;
}
.bg-light-blue {
  background: rgb(31, 148, 241);
}
.font-larger {
  font-size: larger;
}
.font-white {
  color: #FFFFFF;
}
.font-lastmile-gray {
  color: #292727;
}
.font-lastmile-yellow {
  color: rgb(204, 154, 48);
}
.font-light-gray {
  color: rgba(88,88,88,1);
}
.font-blue {
  color: #2D70C4;
}
.font-title-case {
  text-transform: capitalize;
}
.fix-float {
  overflow: hidden;
  height: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.small-width{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.font-center {
  text-align: center;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: rgba(10,10,10,.2);
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* TEMPORARY. TAKE OUT WHEN FINISHED WITH STYLING */
  display: none;
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
  /* =========!!!!!!!!!========= */
}
.secondary-featured-image {
  height: 41vh;
}
.font-medium {
  font-family: GothamMedium;
}
.font-black {
  font-family: GothamBlack;
}
.font-light {
  font-family: GothamLight;
}
.relative {
  position: relative;
}



/* ======================================= */
/* =============== CONTAINER ============= */
/* ======================================= */
.container {
  height: 100%;
  position: relative;
}
.section .sub-container {
  padding-top: 3em;
}
@media (max-width: 600px) {
  .section .sub-container {
    padding-top: 0;
  }
}
.container ul {
  margin-left: auto;
  margin-right: auto;
}


/* ======================================= */
/* ================ NAV MENU ============= */
/* ======================================= */
.navbar {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.3125em;
  z-index: 999999999;
  background-color: #292727;
  transition: all 500ms ease;
  left: 0;
  right: 0;
  text-rendering: optimizeLegibility;
}
.navbar-container {
  max-width: 85em;
  height: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 100000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.change-navbar-bg-color {
  background-color: #292727;
  transition: all 1s ease;
}
.menu ul {
  display: inline-block;
  line-height: 2.8rem;
  padding-top: 1px;
}
.navbar .logo {
  float: left;
  margin-left: 20px;
}
div.logo img {
  width: 230px;
}
/* ADJUSTMENT FOR LOGO */
.nav_logo {
  margin-top: .85em;
}
div.menu {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  float: right;
  margin-top: .85rem;
  margin-right: .3rem;
  transition: margin-top 1s ease;
  -webkit-transition: margin-top 1s ease;
  -moz-transition: margin-top 1s ease;
  -o-transition: margin-top 1s ease;
  -ms-transition: margin-top 1s ease;
}
div.menu.hide {
  margin-top: -4em;
}
div.menu-colored {
  background: #FFFFFF;
}
div.menu-colored li.current_page_item {
  border-bottom: 2px solid #292727;
}
.navbar div.icon-reorder {
  width: 2em;
  height: 2em;
  font-size: 2rem;
  color: #C49C2D;
  position: absolute;
  right: 0;
  top: -4em;
  cursor: pointer;
  transition: top 1s ease;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
}
.navbar div.icon-reorder.show {
  top: .2em;
}
li.page_item {
  display: inline-block;
  padding: 0 0.5em;
  font-size: .8rem;
  text-transform: uppercase;
  line-height: 2rem;
  padding-top: 2px; 
  margin-right: 1em;
  margin-left: 1em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s ease;
  -webkit-transition: border-bottom .5s ease;
  -ms-transition: border-bottom .5s ease;
  -o-transition: border-bottom .5s ease;
  -moz-transition: border-bottom .5s ease;
}
li.page_item a {
  position: relative;
  color: white;
  padding-top: 2em;
  padding-bottom: .5em;
}
li.page_item:not(.current_page_item) a::after {
  content: '';
  width: 0;
  transition: width 500ms ease;
}
li.page_item:not(.current_page_item):hover a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.menu .current_page_item a {
  border-bottom: 2px solid #FFFFFF;
}
li.page_item:hover a {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}
.mynav-label, #mynav-check {
  display: none;
}
@media (max-width: 875px) {
  .navbar .menu ul, 
  .navbar .menu li {
    display: block;
    margin: 0;
    padding: 0 !important;
  }
  .navbar .menu li a {
    padding: .5em 3em;
  }
  #mynav-check {
    opacity: 0;
    width: 2em !important;
  }
  .mynav-label, #mynav-check {
    background-color: inherit;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    width: 2.9375em;
    height: 30px;
    height: 4.875em;
    position: absolute;
    right: 1em;
    top: .3em;
    background-image: url('./images/burger-clear_tlmw.png');
    background-size: 136%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
  }
  input#mynav-check {
    right: 3em;
  }
  .mynav-label:hover {
    background-image: url('./images/burger-fill_tlmw.png');
  }

  #mynav-check:checked ~ .mynav-label {
    background-image: url('./images/burger-fill_tlmw.png');
  }
  #mynav-check ~ .menu {
    position: absolute;
    left: 0;
    top: -15em;
    width: 100%;
    z-index: -1;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
  }
  #mynav-check:checked ~ .menu {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 3em;
    background: rgb(29,27,27);
  }
  #mynav-check ~ .menu ul,
  #mynav-check ~ .menu li {
    display: block;
    background-color: rgb(29,27,27);
    width: 100%;
  }
  .menu .page_item {
    line-height: 3rem !important;
  }
  .menu .current_page_item {
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
  }
  .menu .page_item:last-child {
    background-color: inherit;
  }
}
@media only screen and (max-width: 540px) {
  .navbar .logo {
    margin-left: 5px;
  } 
  .navbar .menu li {
    font-size: .7rem;
    padding: 0 0;
  }
  .menu .page_item:last-child {
    margin-right: 5px;
  }
  li.page_item {
    margin-right: 4px;
    margin-left: 4px;
  }
}



#main {
  background: #FFFFFF;
  color: #292727;
  position: relative;
}


/* styles applicable to all sections */
.section {
  position: relative;
  max-width: 56.25em;
  margin: 0 auto;
  margin-top: 4em;
}
.title {
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0px;
  line-height: 135%;
}
.section .subtitle {
  font-size: 1.4rem;
  padding-top: 10px;
  letter-spacing: 3px;
  color: rgba(29,27,27,1);
}
@media (max-width: 600px) {
  .section .title {
    font-size: 1.8rem;
    width: 22em;
  }
}
@media (max-width: 1200px) {
  .section .title,
  .section .subtitle {
    width: 95%;
  }
}



/* ======================================= */
/* ========== FEATURED SECTION =========== */
/* ======================================= */
.featured-image-container {
  width: 75%;
  margin: 0 auto;
}
.featured-section {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  color: white;
  max-height: 70em;
  position: relative;
  width: 100%;
}
.featured-section video {
  width: 100%;
}
.featured-section .featured-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-attachment: fixed !important;
  background-position: 0 30px !important;
}
.secondary-featured-image {
  /* ADJUSTMENT */
  /*background-attachment: fixed !important;*/
  background-repeat: no-repeat !important;
  /* ADUSTMENT FROM 'contain' */
  background-size: cover !important;
  background-position: 50% 35% !important;
}
.featured-section .tagline {
  position: absolute;
  top: 37%;
  font-size: 1rem;
  z-index: 10000;
}
.featured-section .tagline-2 {
  display: inline-block;
  padding-bottom: .1em;
}
.featured-section .tagline-1,
.featured-section .tagline-2 {
  padding-right: .5em;
  padding-left: .5em;
  font-size: 2.5rem;
  width: auto;
  font-family: GothamMedium;
}
@media only screen and (max-width: 700px) {
  .featured-section .tagline-1,
  .featured-section .tagline-2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .featured-section .tagline {
    top: 38%;
  }
  .featured-section .tagline-1,
  .featured-section .tagline-2 {
    font-size:  1rem;
  }
}





/* ======================================= */
/* =========== PROCESS SECTION =========== */
/* ======================================= */
.process-section {
  height: 100%;

  position: relative;
  margin: 0 auto;
  margin-top: 4em;
}
.process-block-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.process-block {
  flex: 1;
  padding: 0 2em 0 2em;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}
.process-block img {
  height: 10em;
  margin-bottom: 1em;
}
.process-block p {
  padding-bottom: .5em;
}

@media (max-width: 72em) {
  .process-block {
    padding: 2em 1em;
  }
  .process-block-container {
    width: 95%;
  }
  .process-block img {
    height: 7em;
  }
}
@media (max-width: 38em) {
  .process-block-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
  }
  .process-block {
    padding-left: 0;
    padding-right: 0;
  }
}




/* ======================================= */
/* =========== ENQUIRY SECTION =========== */
/* ======================================= */
.enquiry-section {
  display: flex;
  background-color: #D3D3D3;
  padding: 50px;
  margin-top: -10px;
  margin-bottom: 50px;
}
.enquiry-block {
  display: inline-block;
  vertical-align: middle;
  padding-right: .5em;
  padding-left: .5em;
  flex: 1;
}
.enquiry-block img {
  height: 3.5em;
}
.enquiry-block a {
  position: relative;
  /*overflow: auto;*/
  height: 3em;
  display: inline-block;
  width: 100%;
}
.enquiry-block .enquiry-grayscale,
.enquiry-block .enquiry-color {
  position: absolute;
  width: 100%;
}
.enquiry-block .enquiry-color {
  opacity: 0;
  transition: opacity .5s ease;
}
.enquiry-block a:hover .enquiry-color {
  opacity: 1;
}
.enquiry-block a div {
  width: 100%;
  height: 3em;
}

.enquiry-block:nth-child(8) a div {
  background-size: 111%;
  background-position: 50%;
  bottom: -1em;
  height: 5em;
}


.learn-more {
  display: block;
  margin-top: .5em;
  font-size: 1.25rem;
  border: 3px solid #C49C2D;
  width: 14rem;
  height: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10000;
  transition: background 750ms ease;
  -webkit-transition: background 750ms ease;
  -moz-transition: background 750ms ease;
  -o-transition: background 750ms ease;
  -ms-transition: background 750ms ease;
  background: #C49C2D;
  opacity: .45;
  transition: all .75s ease;
}
@media (max-width: 38em) {
  .learn-more {
    font-size: 1rem;
    width: 11em;
    height: 2.5em;
    line-height: 2.6rem;
    border: 1px solid #c49c2d;
  }
}
.learn-more:hover {
  opacity: 1;
  transition-duration: .5s;
}


/* ======================================= */
/* =========== PROJECTS SECTION ========== */
/* ======================================= */
.project-section {
  height: 45em;
  position: relative;
  margin: 0 auto;
  margin-top: 4em;
}
.project-section .projects {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.site {
  background: url('./images/features/bigcodebg-1024x687.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /*background-position: top center !important;*/
  background-position: -88px 88px !important;
  background-attachment: fixed !important;
}
.project-section .learn-more {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.project-section .project-subtitle {
  margin-bottom: 1em;
}
.project-section .project {
  float: left;
  width: 100%;
  position: relative;
  height: 40em;
}
.project-section .project .site-container {
  height: 20em;
}
.project .site-container {
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.project:nth-child(even) .site-container {
  position: absolute;
  bottom: 0;
}
.project .site-text {
  height: 20em;
  position: relative;
}
.project .details {
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 0;
}
.project .caption-text {
  padding: .5em;
  position: relative;
  top: 48%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}
.project .site {
  height: 100%;
  transition: background-size 1s ease-in;
  -webkit-transition: background-size 1s ease-in;
  -moz-transition: background-size 1s ease-in;
  -ms-transition: background-size 1s ease-in;
  -o-transition: background-size 1s ease-in;
}
.project:hover .site {
  background-size: 45em !important;
}
.project-section .project-link {
  background: #C49C2D;
  margin-left: auto;
  margin-right: auto;
  padding: .7em .5em .4em .5em;
}






/* ======================================= */
/* ============= TECH SECTION ============ */
/* ======================================= */
.tech-section {
  padding-bottom: 2em;
}
.tech-section .tech-gallery li {
  display: inline-block;
  height: 3.5em;
  width: 30%;
  margin-bottom: 2em;
}
@media only screen and (max-width: 375px) {
  .tech-section .tech-gallery li {
    width: 25%;
    margin-top: 0;
    height: 65px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 800px) {
  .tech-section .tech-gallery li {
    width: 35%;
    margin-top: 1em;
  }
}


/* ======================================= */
/* ========= TESTIMONIAL SECTION ========= */
/* ======================================= */
.testimonials-section {
  overflow: hidden;
  margin-bottom: 0;
  width: 100%;
  height: 45em;
  letter-spacing: 0px;
  position: relative;
  margin: 0 auto;
  margin-top: 4em;
}
.testimonial-image-container {
  height: 100%;
  width: 100%;
}

.testimonial-image {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-attachment: fixed !important;
}

.testimonial-image:nth-child(n) {
  z-index: 1;
}
.testimonial-image:nth-child(n+2) {
  z-index: 0;
}
.testimonial-image:nth-child(n+3) {
  z-index: -1;
}
.testimonial-chevron-icons {
  position: absolute;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.testimonial-chevron-icons :nth-child(n) {
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  width: 1em;
  font-size: 3rem;
  margin: .5em;
  cursor: pointer;
}
@media (max-width: 700px) {
  .testimonial-chevron-icons :nth-child(n) {
    top: 45%;
  }
}
.testimonial-chevron-icons .icon-left {
  left: 0;
}
.testimonial-chevron-icons .icon-right {
  right: 0;
}
.testimonials-section .testimony {
  position: absolute;
  z-index: 10000;
  right: 0;
  width: 55vw;
  max-width: 45em;
  bottom: 0;
  text-align: right;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1.5em;
  background: rgba(0,0,0,0.6);
}
@media (max-width: 700px) {
  .testimonials-section  .testimony {
    font-size: .8rem;
    line-height: 1.4rem;
  }
}
.testimonials-section .testimonial::before,
.testimonials-section .testimonial::after {
  position: relative;
  height: 1em;
  display: inline-block;
  bottom: .1em;
  text-align: center;
}
.testimonials-section .testimonial::before {
  content: url('./images/open_quotes.png');
  margin-right: .2em;
}
.testimonials-section .testimonial::after {
  content: url('./images/close_quotes.png');
  margin-left: .2em;
}
.testimonials-section .testimonial-author {
  margin-top: 1em;
  color: #C49C2D;
  max-width: 30rem;
  margin-left: auto;
  font-family: GothamMedium;
  font-size: 14px;
}



/* ======================================= */
/* ================= FOOTER ============== */
/* ======================================= */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  left: 0;
  right: 0;
  width: 100%;
  /* ADJUSTMENT...??? NOT SURE WHY THIS WAS !important */
  /*position: absolute !important;*/
}
footer .footer-images {
  height: 4em;
}
footer .email a {
    color: rgb(196, 156, 45);
}
@media (max-width: 76em) {
  footer {
    margin-top: 0 !important;
  }
}



/* ======================================= */
/* ======== CONTACT-US FORM SECTION ====== */
/* ======================================= */
.close-modal {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 2em;
  left: -13em;
  right: 30px;
  bottom: 20px;
}

.product-questionnaire-form-section {
  padding-bottom: 4rem;
  width: 75%;
  margin: 0 auto;
}
.questionnaire {
  background: url('./images/features/teentechhub_game_2-1024x548.png');
}


/* ======================================= */
/* ============ CONTACT-US PAGE ========== */
/* ======================================= */
.contact {
  background: url('./images/features/bigcodebg-1024x687.jpg');
}
.contact-us-form-section {
  position: fixed;
  width: 95%;
  max-width: 100em;
  padding-top: 4em;
  padding-bottom: 3em;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.contact-us-form-section p {
  color: white;
  padding-top: 1em;
  padding-bottom: .3em;
}
.contact-us-form-section input {
  height: 2em;
}
.contact-us-form-section input,
.contact-us-form-section textarea {
  font-size: 1.1rem;
  opacity: .75;
}
.contact-us-form-section .required {
  font-size: .8rem;
}
.contact-us-form-section input[type=submit] {
  width: 10em;
  height: 2.3em;
  color: white;
  background: rgb(196,156,45);
  border: none;
  opacity: 1;
}
.contact-us-form-section .gform_wrapper {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.contact-us-form-section .gform_title {
  text-align: center;
  display: none;
}
.contact-us-form-section .gform_wrapper .ginput_complex input[type=text],
.contact-us-form-section .gform_wrapper input.large,
.contact-us-form-section .gform_wrapper textarea.large  {
  width: 100% !important;
}
.contact-us-form-section .gform_wrapper .gfield_required {
  color: #C49C2D;
}
.contact-us-form-section .gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0 !important;
}
.contact-us-form-section .gform_wrapper .ginput_complex label {
  margin: 0 !important;
}
.contact-us-form-section .gform_wrapper li {
  margin-top: 1em !important;
}

#contact_adjust {
  width: 65%;
  margin: 0 auto;
}

.gform_button {
  margin-top: .5em;
  font-size: 1.25rem;
  border: 3px solid #C49C2D;
  width: 14rem;
  height: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #C49C2D;
}
.gform_wrapper textarea.large {
  height: 7.625em !important;
}

.gform_wrapper textarea {
  border: .1em solid #292727;
}

.gform_body, ul.gform_fields_2 {
  width: 100% !important;
}
#gform_wrapper_2 {
  width: 100% !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}





/* ======================================= */
/* ============ PORTFOLIO PAGE =========== */
/* ======================================= */
.portfolio {
  background: url('./images/features/handwritten_code-1.jpg');
}
.portfolio-section {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-container {
  padding: 4em 3em;
  position: relative;
  border-bottom: solid 2px rgba(29,27,27,1);
}
.portfolio-container:last-child {
  border-bottom: none;
}
.portfolio-container .project-container {
  display: flex;
}
.portfolio-container .project-image {
  height: 20em;
  width: 25em;
  padding-right: 1em;
  padding-left: 1em;
  flex: 3;
}
.portfolio-container .project-content {
  padding-bottom: 2em;
  flex: 9;
  position: relative;
}
.portfolio-container a {
  position: absolute;
  display: inline-block;
  width: 6em;
  padding: .8em 1em;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #292727;
  text-align: center;
  border: 2px solid rgba(29,27,27,1);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.portfolio-container a {
  transition: background-color 1s ease, color .25s ease;
}
.portfolio-container a:hover {
  background-color: #C49C2D;
  color: #FFFFFF;
}
.portfolio-container .project-title {
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 2.25rem;
}
.portfolio-container .project-excerpt {
  font-size: 1rem;
  margin-bottom: 2em;
  line-height: 2rem;
  text-align: justify;
  color: rgba(29,27,27,1);
}
.portfolio-container .single-project-link {
  margin-top: 2em;
}
.portfolio-container .single-project-link a {
  padding: 1em 2em;
  border-radius: 150px;
}
.portfolio-container .project-container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .portfolio-container {
    height: 100%;
    padding: 3em 1em;
  }
  .portfolio-container .project-container {
    width: 95%;
    flex-direction: column;
  }
  .portfolio-container .project-image {
    margin-left: auto;
    margin-right: auto;
    height: 28em;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .portfolio-container .project-image {
    height: 20em;
  }
  .portfolio-container a {
    font-size: 1.3rem;
    padding: .5em;
  }
  .portfolio-container .project-title {
    text-align: center;
  }
}


/* ======================================= */
/* ============== SINGLE PAGE ============ */
/* ======================================= */
.single-project .title {
  height: 5em;
  width: 13em;
}
.single-project-images {
  padding-top: 4em;
  padding-bottom: .6em;
}
.single-project-container {
  margin-top: 0;
  padding-top: 0;
}
.single-project-image {
  display: inline-block;
  width: 22%;
  min-width: 20em;
  height: 15em;
  margin: .5em;
}
.single-project-text {
  text-align: justify;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  line-height: 1.5rem;
  -webkit-column-count: 3;
  margin-bottom: 4em;
}
.single-project-text p {
  text-indent: 1.5rem;
  padding: 0 .5rem;
}
.single-project-text * {
  color: rgba(29,27,27,1);
}



/* ======================================= */
/* =========== SINGLE POST PAGE ========== */
/* ======================================= */
.post-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 1em;
  font-weight: lighter;
}
.post-container .post {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .post-container .post {
  }
}
.post-container .post-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
.post-container .post-image {
  width: 69%;
  height: auto;
}
.post-info {
  text-align: left;
}
.post-container p {
  margin-top: 2.3rem;
}
.post-container img {
  max-width: 100%;
  height: auto;
}
.post-container p:nth-child(even) img {
  float: left;
  margin-right: 1.3rem;
}
.post-container p:nth-child(odd) img {
  float: right;
  margin-left: 1.3rem;
}
.post-container pre {
  margin: 1.5rem 0 !important;
}
.project-post p img {
  margin-bottom: 2.3rem;
}
.post-container .post-info h1, 
.post-container .post-info h2, 
.post-container .post-info h3, 
.post-container .post-info h4 {
  margin-top: 2rem;
}
.post-container .live-link {
  font-family: GothamMedium;
  position: absolute;
  top: -1em;
  left: 0;
  line-height: 2.5rem;
  padding: 0 1.5em;
  color: white;
  box-shadow: 4px 5px 5px gray;
  -webkit-box-shadow: 4px 5px 5px gray;
  -moz-box-shadow: 4px 5px 5px gray;
  transform: rotate(-14deg);
} 
.post-container .live-link:active {
  transform: translateY(5px) rotate(-14deg);

}


/* ======================================= */
/* =========== BLOG/PROJECT PAGE ========= */
/* ======================================= */
#blog {
  background: url('./images/features/jason_coding-1024x576.png');
}
.blog-post-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 75%;
}
.blog-post-container .blog-post, .blog-post-container .blog-post-content {
  display: block;
  vertical-align: top;
  text-align: left;
}

.blog-post-container .blog-image {
  width: 100%;
  height: 16em;
  margin-bottom: .4rem;
}


a.alternate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.blog-image{
  flex: 0 1 18.94rem;
}
.post-text {
  flex: 1 1 18.94rem;
  padding: 2rem;
  padding-top: 0;
}
.blog-post:nth-child(even) a.alternate {
  flex-direction: row-reverse;
}



.blog-post-container .post-title {
  font-family: GothamMedium;
  position: relative;
  line-height: 1.2;
  margin-bottom: .2em;
  padding-top: .25em;
}
.blog-post-container .post-title:hover::after {
  /*width: 100%;*/
}
.blog-post-container .post-title::after {
  /*content: '';
  width: 0%;
  height: 0;
  border-bottom: 2px solid rgb(204, 154, 48);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 500ms ease;*/
}
.blog-post-container h3.project-intro {
  font-size: .8rem;
}
.blog-post {
  padding: 1em;
  margin: 2rem;
}
.blog-hover:hover {
  box-shadow: 0 .2em 0.5em rgb(88, 88, 88);
  transition-duration: .75s;
}
.blog-post {
  transition: all .5s ease-out;
}

.blog-post-content {
  width: 30%;
}








/* ======================================= */
/* ============= ABOUT US PAGE =========== */
/* ======================================= */
.about-us {
  background: url('./images/features/san-quentin-wide-1024x512.jpg');
}
.about-us-section {
  font-weight: lighter;
}
.about-us-content {
  margin-left: 5.5em;
  margin-right: 3em;
  margin-bottom: 4em;
  text-align: left;
}
.about-us-content p, 
.about-us-content ul {
  margin: 1em 0;
  text-align: left;
  width: 95%;
}
.about-us-content p:first-child:first-letter {
  font-size: 2rem;
  line-height: 2rem;
}
.about-us-content li {
  list-style-type: disc;
  list-style-position: inside;
  color: black;
}
.about-us-content img {
  width: 100%;
  height: auto;
}
.about-us-content h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.about-us-content h2 {
  margin-top: 2rem;
}



.featured-image-container {
  position: relative;
}
.featured-image-container .featured-title {
  position: absolute;
  top: 45%;
  padding-right: .5em;
  padding-left: .5em;
  font-size: 3rem;
  width: auto;
  font-family: GothamMedium, GraphikWeb;
}


/* ======================================= */
/* ============ THANK YOU PAGE =========== */
/* ======================================= */
/* THE THANK YOU PAGE USES THE STYLE RULES
   FROM THE about-us SECTION ABOVE PLUS... */

.link_adjust > p > a {
  color: #292727;
}
.thank-you {
  background: url('./images/features/teentechhub_game_1-1024x548.png');
}




/* ========= !!!!!!!!!!! ========= */
/* ========= !!!!!!!!!!! ========= */
/* ========= ADJUSTMENTS ========= */
/* ========= !!!!!!!!!!! ========= */
/* ========= !!!!!!!!!!! ========= */

body {
  margin-top: 3em;
}

.page-item-116,
.page-item-969,
.page-item-979,
.page-item-996,
.ginput_counter {
  display: none !important;
}

a[target='_blank'] {
  color: rgb(88, 88, 88);
}

h1.hero {
  color: #fff;
  display: block;
  font-family: "GothamLight";
  font-weight: lighter;
  font-size: 72px;
  height: 280px;
  padding: 104px 30px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 1em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: .5em;
}

.section-container {
  margin: 0 6em;
  letter-spacing: 0px;
}

div.process-block > .line-adjust {
  line-height: 1.25rem;
}

h6.font-light-gray {
  color: rgb(80%, 60%, 19%);
  font-family: GothamMedium;
  font-size: 75%;
}
h6.font-light-gray:nth-child(1) {
  font-weight: 900;
}



/* ADJUSTMENT FROM .blog-post:hover */
.no-hover-class:hover {
  box-shadow: none;
}

/* ========= !!!!!!!!!!!!!!!!!!!!!!! ========= */
/* ========= MEDIA QUERY ADJUSTMENTS ========= */
/* ========= !!!!!!!!!!!!!!!!!!!!!!! ========= */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media (max-width: 1024px) {

  .secondary-featured-image {
    height: 25em;
  }

  /* REPLACES SLIDER WITH IMAGE FOR MOBILE DEVICES */
  .testimonial-image {
    background: url('./images/features/graduation-1024x728.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
  }
  div.testimonial-chevron-icons {
    display: none;
  }
  .blog-post-container .blog-post {
    margin-left: .2em;
    margin-right: .2em;
  }

  .post-text {
    padding-top: 0;
  }

  .project-section {
    height: 36em;
  }

  input[type='text'], textarea[name="input_5"], input[type='submit'] {
    border: .1em groove #292727;
  }

}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media (max-width: 768px) {
  .main, .featured-image-container, div.container, .navbar, .navbar-container, #mynav-check ~ .menu, #mynav-check:checked ~ .menu, .menu > ul, .process-section, .post-container, .section, .blog-post, .contact-us-form-section {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .process-section {
    margin-top: 0em;
  }
  .mynav-label {
    top: .7em;
  }
  .testimonials-section, .project-section {
    height: 36em;
    margin-top: 0em;
  }
  .testimonials-section .testimony {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .testimonial-chevron-icons .icon-right {
    right: 10em;
  }
  .testimonial-chevron-icons :nth-child(n) {
    top: 9em;
  }
  .project-section > div.site {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-attachment: initial !important;
  }
  .code_sample {
    height: 29em;
  }
  .post-text {
    padding-top: 2em;
  }
  .close-modal {
    position: absolute;
    left: -13;
  }
  .contact-us-form-section {
    margin: 0;
    width: 100%;
  }
  .contact-heading {
  }
  #contact_adjust {
    width: 100%;
  }
  .secondary-featured-image {
    height: 21vh;
    background-position: 50% 0% !important;
  }
  h1.hero {
    top: 0;
  }
  .featured-section .tagline-1, .featured-section .tagline-2 {
    font-size: 1.25rem;
  }
  .learn-more {
    font-size: 1rem;
    width: 12rem;
    height: 2.15rem;
    line-height: 2.5rem;
  }
  .post-container .post {
    width: 77%;
    margin: 0 auto;
  }
  
}

@media (max-width: 750px) {
  /* REPLACES VIDEO WITH IMAGE FOR MOBILE */
  div.featured-section > ul > li > video {
    visibility: hidden;
  }
  #hide-video {
    display: none;
  }
  div.featured-section > ul > li.image-replace {
    background-image: url('./images/features/starting_photo-768x432.png');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat !important;
  }
}

@media (max-width: 736px) {
  .secondary-featured-image {
    height: 51vh;
  }


    /* ============================================= */
  /* ============================================= */
  /* THESE ARE ALL THE IMAGES THAT GET REPLACED */
  .testimonial-image {
    background: url('./images/features/graduation-488x347.jpg') !important;
    height: 94.5%;
  }
  div.site { /* IMAGE AT BOTTOM OF MAIN PAGE */
    background: url('./images/features/bigcodebg-488x312.jpg') !important;
  }
  .about-us {
    background: url('./images/features/san-quentin-wide-488x244.jpg');
    background-position: 50% 44% !important;
  }
  .portfolio {
    background: url('./images/features/handwritten_code-1-488x366.jpg');
  }
  #blog {
    background: url('./images/features/jason_coding-488x275.png');
  }
  .contact {
    background: url('./images/features/bigcodebg-488x312.jpg');
  }
  .questionnaire {
    background: url('./images/features/teentechhub_game_2-488x261.png');
  }
  .thank-you {
    background: url('./images/features/teentechhub_game_1-488x261.png');
  }






}

@media (max-width: 667px) {
  .section {
    margin-top: .5em;
  }
  .process-block-container {
    display: initial;
  }
  .testimonials-section {
    height: 18em;
  }
  .project-section a.learn-more {
    bottom: -1em;
  }
  .secondary-featured-image {
    /* ADJUSTMENT FROM 33vh */
    height: 56vh;
  }
  h1.hero {
    font-size: 45px;
    top: 0em;
  }
  .post-container .live-link {
    left: -2em;
  }
}

@media (max-width: 448px) {
  div.container, .navbar, .navbar-container, #mynav-check ~ .menu, #mynav-check:checked ~ .menu, .menu > ul, .process-section, .post-container, .section, .blog-post, .contact-us-form-section {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .testimonials-section, .project-section {
    height: 21.5em;
    margin-top: 0em;
  }
  div.logo img {
    width: 18em !important;
  }
  .learn-more {
    height: 2.5rem;
  }
  .blog-post-container .blog-post {
    margin-right: 0;
    margin-left: 0;
  }
  #mynav-check:checked ~ .menu {
    margin-right: 0;
  }
  .post-container .live-link {
    top: -3em;
  }
  .close-modal {
    z-index: 999999;
    width: 1em !important;
    height: 1em !important;
    top: 1.7em;
    left: .25em;
  }
  .about-us-content {
    margin-left: 3.5em;
    margin-right: 2em;
  }
  .title {
    font-size: 1.5em;
  }
  .enquiry-section {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .enquiry-block {
    /*flex: none;*/
    width: 7em;
    padding-top: .5em;
  }
  .secondary-featured-image {
    height: 29vh;
  }
  .blog-post-container {
    margin-right: 4em;
  }


  /* ============================================= */
  /* ============================================= */
  /* THESE ARE ALL THE IMAGES THAT GET REPLACED */
  .testimonial-image {
    background: url('./images/features/graduation-488x347.jpg') !important;
    height: 94.5%;
  }
  div.site { /* IMAGE AT BOTTOM OF MAIN PAGE */
    background: url('./images/features/bigcodebg-488x312.jpg') !important;
  }
  .about-us {
    background: url('./images/features/san-quentin-wide-488x244.jpg');
  }
  .portfolio {
    background: url('./images/features/handwritten_code-1-488x366.jpg');
  }
  #blog {
    background: url('./images/features/jason_coding-488x275.png');
  }
  .contact {
    background: url('./images/features/bigcodebg-488x312.jpg');
  }
  .questionnaire {
    background: url('./images/features/teentechhub_game_2-488x261.png');
  }
  .thank-you {
    background: url('./images/features/teentechhub_game_1-488x261.png');
  }




}

@media (max-width: 400px) {
  #mynav-check:checked ~ .menu {
    left: -.5px;
  }
  .about-us-content {
    margin-left: 2em;
    margin-right: 1em;
  }
  div.close-modal {
    width: 1em;
    height: 1em;
    left: .5em;
  }
  h1.hero {
   font-size: 1.6875rem;
  }
}

@media (max-width: 375px) {
  .section {
    margin-top: 0;
  }
  .enquiry-section {
    padding: 0px;
    padding-top: 0em;
    margin-bottom: 0em;
  }
  .section-container {
    margin: 0 auto;
  }
  .process-section {
    margin-top: .5em;
  }
  h1.title {
    font-size: 123%;
  }
  .process-block-container {
    margin-top: 0em;
  }
  .secondary-featured-image {
    height: 22vh;
    background-position: 50% 7% !important;
  }
  h1.hero {
    top: -1.25em;
    height: .25em;
  }
  .blog-post-container .blog-post {
    padding: 0;
    padding-left: 1.1em;
    padding-right: 1.1em;
  }
  .post-container .live-link {
    top: -1em;
    left: -2em;
    line-height: 1.5rem;
  }
}


@media (max-width: 360px) {
  body {
    max-width: 22em;
  }
  #contact_adjust {
    width: 88%;
  }
}


@media (max-width: 300px) {
  .mynav-label {
    right: -3em !important;
  }
}

div {
  /*outline: .1em solid green;*/
}



